{% extends 'base.html' %} {% block css/title %}
<title>Article List</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css'%}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
{% endblock css/title %} {% block section %}
<div class="comments">
  {% for comment in article.comments.all %}
  <div class="comment">
    <p>{{comment.content}}</p>
  </div>
    <br>
  <form action="{% url 'recomment' article.id comment.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="내용을 작성해주세요" />
    <button  class ="button" type="submit">보내기</button>
  </form>
  <div class="recomments">
    {% for recomment in comment.recomments.all %}
    <p>{{recomment.content}}</p> {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock section %}
