{% extends 'base.html' %} {% block css/title %}
<title>Article List</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stonerequest.css'%}" />
{% endblock css/title %} {% block section %}
<div class="bigbox">
<div class="box">
  <div>
    <img
      class="rock"
      src="https://png.pngtree.com/png-clipart/20220826/ourmid/pngtree-cartoon-big-stone-transparent-png-image_6122941.png"
      />
  </div>

  {% csrf_token %}
  <form method="post" action="">
    {% csrf_token %}
    <div class="smallbox">
    <input class="ask" name="member" placeholder="술 팟 인원 수를 적어주세요" />
    <input class="ask" name="age" placeholder="24/35/45/ 형식으로 나이를 입력해주세요" />
    <input class="ask" name="sex" placeholder="남/여/남 형식으로 성별을 적어주세요" />
    <input class="ask" name="talk_topic" placeholder="토크 주제를 입력해주세요" />
    <button class="button" type="submit">신청</button>
    </div>
  </form>
</div>
</div>

{% endblock section %}
