<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'StoneList.css' %}" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>현재인원: {{ stone.current_member }}</p>
    <p>희망인원: {{ stone.want_member }}</p>
    <p>나이: {{ stone.age }}</p>
    <p>성별: {{ stone.sex }}</p>
    <p>토크안주: {{ stone.talk_topic }}</p>

    <button class="open-button">참여하기</button>

    <div class="modal hidden">
        <div class="modal-content">
            <div class="box">
                <h1>{{ stone.give_food }} 석탑에 참여 요청을 보내시겠습니까?</h1>
            </div>
        <div>
            <a href="http://127.0.0.1:8000/stone/">예</a>
            <button class="close">아니오</button>
        </div>
        </div>
    </div>
    <script src="{% static 'StoneList.js' %}"></script>

</body>

</html>