{% extends 'base.html' %} {% block css/title %}
<title>Login</title>
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" type="text/css" />
{% endblock css/title %} {% block section %}

<div class="hi">
<form method="POST">
  {% csrf_token %}
  <div class="big_container">
    <div class="container">
      <p class="title">Login</p>
      {% if error %}
      <p>{{error}}</p>
      {% endif %}
      <input
        type="text"
        name="username"
        placeholder="아이디"
        class="registration-input"
      />
      <input
        type="password"
        name="password"
        placeholder="비밀번호"
        class="registration-input"
      />
      <div class="registration-box">
        <button id="post-button">로그인</button>
      </div>
    </div>
  </div>
</form>

<div class="signup">
  <a href="http://127.0.0.1:8000/registration/signup/">회원가입</a>
</div>
</div>
{% endblock section %}
